<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>NFL</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.nflvideos</string>
			<key>URLPatterns</key>
			<array>
				<string>http://gamepass.nfl.com/.+</string>
				<string>http://gamerewind.nfl.com/.+</string>
				<string>http://www.nfl.com/.+</string>
				<string>http://a.video.nfl.com/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
